body {
    background-color: rgb(250, 207, 237);
    color: rgb(172, 10, 128);
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: rgb(250, 207, 237);
    color: rgb(172, 10, 128);
    font-family: Arial;
    margin: 10px;
}

header {
    background-color: rgb(83, 3, 51);
    color: white;
    font-family: Arial;
    padding: 7px;
    text-align: center;
}

footer {
    background-color: rgb(83, 3, 51);
    color: white;
    font-family: Arial;
    padding: 7px;
    text-align: right;
}

a {
    color: rgb(147, 6, 74);
    text-decoration: none;
    transition: 0.7s;
}

a:link {
    color: rgb(153, 13, 13);
    text-decoration: underline;
}

a:visited {
    color: rgb(134, 10, 188);
    text-decoration: none;
}

a:hover {
    color: rgb(134, 10, 188);
    text-decoration: solid;
    background-color: rgb(208, 248, 248);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.7;
    background-color: rgba(103, 16, 185, 0.475);
}