body {
    background-color: rgb(250, 207, 237);
    color: rgb(172, 10, 128);
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: rgb(250, 207, 237);
    color: rgb(172, 10, 128);
    font-family: Arial;
    margin: 10px 20px 45px;
}

header {
    background-color: rgb(83, 3, 51);
    color: white;
    font-family: Arial;
    padding: 7px;
    text-align: center;
}

footer {
    background-color: rgb(83, 3, 51);
    color: white;
    font-family: Arial;
    padding: 7px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

a {
    color: rgb(147, 6, 74);
    text-decoration: none;
    transition: 0.7s;
}

a:link {
    color: rgb(153, 13, 13);
    text-decoration: underline;
}

a:visited {
    color: rgb(134, 10, 188);
    text-decoration: none;
}

a:hover {
    color: rgb(134, 10, 188);
    text-decoration: solid;
    background-color: rgb(208, 248, 248);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.7;
    background-color: rgba(103, 16, 185, 0.475);
}

div.menu {
    border: 3px rgb(219, 52, 161) solid;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
    opacity: 0.9;
}

div.menu:hover {
    background-color: rgba(169, 201, 252, 0.607);
    box-shadow: 0 0 15px rgba(165, 42, 42, 0.904);
}

h1 {
    text-shadow: 0 0 10px rgba(165, 42, 42, 0.717);
}